@import '../../../styles/settings.scss';

.root {

  margin: 0 auto;
  //padding: 15px;
  margin-bottom: 15px;

  height: 30vh;
  overflow: hidden;
  position: relative;

  color: white;

  h1, h2, p {
    text-align: center;
  }
  
  .image {
    width: 100%;
    position: absolute;
    top: -400px;
    z-index: -1;
  }

}


