@import '../../../styles/settings.scss';

.root {
  padding: 10px 15px;
  background-color: $background-red;
  color: $font-light;
  font-family: $font-first;
  font-size: 0.8rem;
  margin-top: 20px;
}
